<h2>スケジュール詳細</h2>
<table>
    <tr>
        <th>タイトル</th>
        <td><%=@post.title%></td>
    </tr>
    <tr>
        <th>開始日時</th>
        <td><%=@post.start_date %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td><%=@post.all_day %></td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.memo %></td>
    </tr>
</table>
<div>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    <li><%= link_to "スケジュールを削除", :post, method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
</div>
