<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <header>
      <h2>Ruby on Rails スケジュール管理アプリ</h2>
    </header>
    <%= yield %>
    <footer>
    <h2>
      現在の日時:
      <%= Date.current.strftime('%Y年 %m月 %d日') %>
      スケジュール合計:
      <%= Post.all.size%>
    </h2>  
    </footer>
  </body>
</html>